# Import Pandas

In [1]:
import pandas as pd

In [3]:
# Creating the self dataset and perform some Pandas functions on it
dataset = {'Student': ['Ronit','Yuvraj','Hansal','Zara'],
          'Admission': [2021,2025,2022,2021]}
# Dataframe is used to access the dataset and convert it into structured format
college = pd.DataFrame(dataset)
print(college)

  Student  Admission
0   Ronit       2021
1  Yuvraj       2025
2  Hansal       2022
3    Zara       2021

In [4]:
# Check the version of Pandas
pd.__version__

'2.2.0'

In [6]:
# Series function are used to bind the data in single rows format
# We can also change the Index format of the dataset here
a = [10,20,30,40,50]
ser = pd.Series(a)
print(ser)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# We can bind the data with another data into it
marks = {"Ronit": 70, "Zara": 66,"Yuvraj":70}
c_marks = pd.Series(marks)
print(c_marks)

Ronit     70
Zara      66
Yuvraj    70
dtype: int64

In [10]:
# To fetch the value of the data from data in key
print(c_marks["Ronit"])

70

In [11]:
#  To fetch the value of data through value
print(c_marks.iloc[1])

66

In [13]:
# Sliceing the dataset
print(a[1:])

[20, 30, 40, 50]

In [16]:
# Create a dataset from your choice and print it
data = {"Product": ['Tea', 'Coffee', 'Puff', 'Dabeli', 'Water', 'Parle-G'], "Price": [20,30,40,25,10,30]}
Items = pd.DataFrame(data)
print(Items)

   Product  Price
0      Tea     20
1   Coffee     30
2     Puff     40
3   Dabeli     25
4    Water     10
5  Parle-G     30

In [17]:
# From the dataset try to slice the Items
print(Items.loc[3:])

   Product  Price
3   Dabeli     25
4    Water     10
5  Parle-G     30

In [23]:
# Import the CSV file into our pratice file
Stock = pd.read_csv("Warehouse_Stock.csv")
print(Stock)

   Sno Product Name  Stock Available  Stock Sold  ToOrder  PricePerUnit
0    1       Wheat               500         200      200            45
1    2         Rice              800         500      600           110
2    3        Juwar              400         100      150            30
3    4        Raggi              500         300      400            40
4    5       Bajara             1000         800      800            35

In [27]:
# Print the Total Sales in existing CSV file by calculating the Stock Sold and PerPerUnit
Stock['TotalSales'] = (Stock['Stock Sold'] * Stock['PricePerUnit'])
print(Stock)

   Sno Product Name  Stock Available  Stock Sold  ToOrder  PricePerUnit  \
0    1       Wheat               500         200      200            45
1    2         Rice              800         500      600           110
2    3        Juwar              400         100      150            30
3    4        Raggi              500         300      400            40
4    5       Bajara             1000         800      800            35

   TotalSales
0        9000
1       55000
2        3000
3       12000
4       28000

In [11]:
# Print the First 4 value from CSV file
Stock.head(4)

,Sno,Product Name,Stock Available,Stock Sold,ToOrder,PricePerUnit,TotalSales
0,1,Wheat,500,200,200,45,9000
1,2,Rice,800,500,600,110,55000
2,3,Juwar,400,100,150,30,3000
3,4,Raggi,500,300,400,40,12000

In [12]:
# Print the last 3 values from the csv file
Stock.tail(3)

,Sno,Product Name,Stock Available,Stock Sold,ToOrder,PricePerUnit,TotalSales
2,3,Juwar,400,100,150,30,3000
3,4,Raggi,500,300,400,40,12000
4,5,Bajara,1000,800,800,35,28000

In [25]:
# Print any one value from Stock in Ascending order
Stock.sort_values(['Stock Available'])

   Sno Product Name  Stock Available  Stock Sold  ToOrder  PricePerUnit
2    3        Juwar              400         100      150            30
0    1       Wheat               500         200      200            45
3    4        Raggi              500         300      400            40
1    2         Rice              800         500      600           110
4    5       Bajara             1000         800      800            35

In [31]:
# Perform the Mean, Median and Mode operation's on the CSV file
print(Stock['TotalSales'].mean())
print(Stock['TotalSales'].median())
print(Stock['TotalSales'].mode())

21400.0
12000.0
0     3000
1     9000
2    12000
3    28000
4    55000
Name: TotalSales, dtype: int64

In [30]:
Stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sno              5 non-null      int64
 1   Product Name     5 non-null      object
 2   Stock Available  5 non-null      int64
 3   Stock Sold       5 non-null      int64
 4   ToOrder          5 non-null      int64
 5   PricePerUnit     5 non-null      int64
 6   TotalSales       5 non-null      int64
dtypes: int64(6), object(1)
memory usage: 412.0+ bytes